body{
	margin: 0;
	padding: 0;
	min-width: 300px;
}
.header{
	overflow: hidden;
	margin: auto;
	width: 100%;
	background: #050505;
	
}

.menu{
	list-style: none;
	margin: 30px;
	float: right;
}

li{
	font-size: 20px;
	display: inline-block;
	color: white;
	margin-right: 25px;
	font-family: sans-serif;
}
#titulo{
	display: inline-block;
	color: white;
	margin-left: 20px;
	margin-top: 25px;
	font-family: sans-serif;
}
#logo{
	height: 70px;
	width: 70px;
	float: left;
	margin: 10px;
	margin-left: 100px;

}
.contentTitulo{
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	margin-top: 80px;
	font-weight: bold;
}
#nomePlanos{
	color: darkred;
	
}
#AcademiaFrente1{
	display: block;
	margin-top: 0px;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 400px;
}
.BoxPlano{
	
	margin-top: 40px;
	background-color: #606060;
	width: 200px;
	height: 80px;
	border: 1px solid #606060;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 5px 5px grey;

}
.contentPlanos{
	font-size: 30px;
	font-family: Bahnschrift;
	color: white;
	text-align: center;
	padding-top: 10px;
	text-shadow: 1px 1px black;
}
.TipoPlano{
	color: red;
	font-weight: none;

}
.BoxInfo{
	
	background-color: white;
	width: 200px;
	height: 200px;
	border: 1px solid #606060;
	border-top-color: #606060;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 5px grey;

}
.valor{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: Bahnschrift;
	margin-top: 30px;
}
.contentInfo{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Bahnschrift;
	margin-top: 20px;
}

sub{
	font-size: 15px;
}

.PlanoMensal{
	display: block;
	float: left;
	margin-top: 20px;
}

.PlanoSemestral{
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	
}

.PlanoExecutivo{
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	
}

.PlanoAnual{
	display: inline-block;
	margin-top: 20px;
	margin-left: 50px;
}
.valorSemestral{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: Bahnschrift;
	margin-top: 5px;
}

#nomeDestacado{
	color: darkred;
}

.contentTitulo2{
	text-align: center;
	font-size: 40px;
	font-family: sans-serif;
	margin-top: 80px;
	font-weight: bold;
}

.BoxEstrutura{
	display: block;
	background-color: #606060;
	width: 100%;
	height: 500px;
	margin-top: 40px;
}
#FrenteAcademia{
	display: block;
	float: left;
	width: 350px;
	margin-top: 50px;
	border-radius: 10px;
	border: 1px solid grey;
}
#InteriorAcademia{
	width: 350px;
	height: 350px;
	margin-left: 70px ;
	margin-top: 50px;
	border-radius: 10px;
	border: 1px solid grey;
}

#AparelhosAcademia{
	width: 350px;
	height: 350px;
	margin-left: 70px ;
	margin-top: 50px;
	border-radius: 10px;
	border: 1px solid grey;
}
.DivCentralizada{
	display: flex;
	justify-content: center;
	align-items: center;
}
#EquipeDeFuncionarios{
	width: 700px;
	height: 500px;
}
.contentTextoPrincipal{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 60px;
	font-weight: bold;
}
.contentTituloHorario{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 90px;
	font-weight: bold;
}
.contentEndereco{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	margin-top: 90px;
	font-weight: bold;
}